<p>Xin Chào {{ name }},</p>
<p>Đây là mail để bạn tạo lại mật khẩu mới</p>
<p>Sao chép mật khẩu này và ấn vào đường dẫn bên dưới để tạo mật khẩu mới</p>
<p>Mật khẩu mới: {{new_password}}</p>
<p>Nhấp vào đây để tạo mật khẩu mới <a href="{{url}}">CLICK ME</a></p>
